@import "tailwindcss";
:root{
    --background: #e3e3f5;
    --foreground: #fff;
    --text-primary: #000;
}

.dark{
    --background: #000;
    --foreground: #fff;
    --text-primary: #fff;
}

@theme{
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-text-primary: var(--text-primary);
}